
body {
	background-color: #756661;
}


#launchLogo {
	margin-left: 38%;
}



/* styling for navbar */
.navbar {
	background-color: black;
	border: 1px solid black;
}


#btnLogo {
	margin-top: 5px;
	margin-left: 2px;
	padding: 0 0;
	border: 1px solid black;
}


.navbar-right {
	margin-left: 50%;
}


.btn-primary {
	margin-top: 5px;
	margin-right: 35px;
}



/* styling for Marvel Cards */

.row {
	margin-top: 25px;

}


.marvelCard {
	border-top: 1px solid #D4CCC9;
	border-left: 1px solid #D4CCC9;
	border-right: 1px solid #D4CCC9;
	border-bottom: 1px dotted #D4CCC9;
	padding: 0;
	width: 22%;
	margin-left: 2%;
}


.thisName {
	padding-top: 6px;
	padding-bottom: 6px;
	max-width: 100%;
	background-color: #FA6800;
	font-weight: 900;
	text-align: center;
}


.img-circle {
	margin-top: 15px;
	margin-left: 13%;
}


.female {
	border: 4px solid pink;
}




.male {
	border: 4px solid blue;
}


.thisDesc {
	padding-bottom: 20px;
	color: red;
	text-align: center;
}


